<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Mi Formulario en Express</h1>
    <form action="/users" method="POST">
      <label for="">Nombre</label>
      <input name="name" type="text">
      <label for="">Apellido</label>
      <input name="lastname" type="text">
      <label for="">RUT</label>
      <input name="rut" type="text">
      <label for="">Contraseña</label>
      <input name="password" type="password">
      <input type="submit" value="Enviar" id="button">
    </form>
 <div class="lista">
  <p>Usuarios Registrados</p>
    <ul>  
      <% result.forEach(function(user){ %>
        <%if (user.lastname.match(/ñ/gi)){
        var lastname= user.lastname.replace(/ñ/gi,"nn");
        }else{
          lastname=user.lastname
        }%> 

        <li><%=lastname %> <%= user.name %></li>
   <% }); %> 
    </ul>
  </div>

    
  </body>
</html>