body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(214, 238, 247);
} 
a {
  color: #00B7FF;
}

h1{
  text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  margin: 5% 40% 0 40%;
  border: 3px solid purple;
  padding: 20px;
  background-color: lightpink;
  text-align: center;
  align-items: center;
}

input{
  margin: 10px;
}

#button{
  margin-top: 20px;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  border-color: white;
  background-color: darkslategray;
  color: white;
}